<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Filter mit einem Wert verstecken</label>
    <label lang="en">Hide facets with just one value</label>
    <version>1.0.0</version>
    <copyright>(c) by Simon Klimek</copyright>
    <license>AGPL v3</license>
    <link>https://github.com/simkli/SimklHideSingleValueFacet</link>
    <author>Simon Klimek</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>